.home-container {
  text-align: center;
  background: url("./images/main-background2.jpg") center;
  background-size: cover;
  height: 100vh;
}

.scroll-wrapper {
  position: relative;
  top: 85%;
  left: 48.2%;
}

#arrow {
  display: block;
}

#arrow-text {
  display: block;
  visibility: hidden;
  color: white;
  font-family: 'Vegur';
  font-size: 15px;
}
#arrow:hover #arrow-text {
  color: blue;
  visibility: visible;
}

.main-overlay {
  background-color: #d6d7db;
  position: relative;
  opacity: 0.7;
  width: 70%;
  height: 50vmin;
  right: -70%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30vmin;
  float: right;
  -webkit-animation: slide 1s forwards;
  -webkit-animation-delay: 0.5s;
  animation: slide 1s forwards;
  animation-delay: 0.5s;
}

.main-overlay:before {
  background: #d6d7db;
  position: relative;
  content: "";
  width: 100%;
  height: 25vmin;
  transform: skewY(-4.5deg);
  margin-right: auto;
  margin-left: auto;
  margin-top: -10vmin;
  float: right;
}

@-webkit-keyframes slide {
  100% {
    right: 0;
  }
}

@keyframes slide {
  100% {
    right: 0;
  }
}

.name {
  font-family: 'Vegur';
  opacity: 0;
  position: relative;
  margin: 0 auto;
  font-size: 5em;
  letter-spacing: 7px;
  z-index: 2;
  animation: reveal-up 0.7s forwards;
  animation-delay: 1.5s;
  -webkit-animation: reveal-up 0.7s forwards;
  -webkit-animation-delay: 1.5s;
}

.desc {
  font-family: 'PlaylistScript';
  opacity: 0;
  position: relative;
  font-size: 2.5em;
  z-index: 2;
  animation: reveal-up 0.7s forwards;
  animation-delay: 2s;
  -webkit-animation: reveal-up 0.7s forwards;
  -webkit-animation-delay: 2s;
}

@keyframes reveal-up {
  0% {
    opacity: 1;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@-webkit-keyframes reveal-up {
  0% {
    opacity: 1;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.about-container {
  background: #d6d7db center;
  font-family: 'Vegur';
  width: 100%;
  margin: 0 auto;
  padding-bottom: 20vmin;
  position: relative;
  z-index: -2;
}

.about-content {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
}
.about-overlay {
  background: white;
  padding: 2em 0;
  display: inline-block;
  vertical-align: middle;
  width: 40%;
  margin-top: 100px;
  margin-bottom: 50px;
}

.heading {
  font-family: 'PlaylistScript';
  padding: 0.4em;
  font-size: 4em;
  text-align: center;
}

.about-desc {
  font-size: 1.3em;
  margin: 10px 50px 0 50px;
}
.about-text {
  margin: 10px 50px 0 50px;
}

.about-image {
  width: 340px;
  vertical-align: middle;
  height: 70%;
  position: relative;
  display: inline-block;
  z-index: 1;
  /*margin: 0 2em;*/
}

.outer-skills-container {
  background: #0f5473 center;
  width: 100%;
  margin: 0 auto;
  /*top right bottom left*/
}

.inner-skills-container {
  background: lightblue center;
  width: 95%;
  margin: 0 auto;
  /*margin-left: 10px;
  margin-right: 10px;*/
}

.outer-skills-container:before {
  background: #0f5473;
  position: absolute;
  content: "";
  width: 100%;
  height: 20vmin;
  transform: skewY(-4deg);
  margin-right: auto;
  margin-left: auto;
  margin-top: -10vmin;
  z-index: -2;
}

.inner-skills-container:before {
  background: lightblue center;
  position: absolute;
  content: "";
  width: 100%;
  height: 20vmin;
  transform: skewY(-4deg);
  margin-right: auto;
  margin-left: auto;
  margin-top: -10vmin;
  z-index: -1;
}

.outer-skills-container:after {
  background: #0f5473;
  position: absolute;
  content: "";
  width: 100%;
  height: 20vmin;
  transform: skewY(4deg);
  margin-right: auto;
  margin-left: auto;
  margin-top: -10vmin;
  z-index: -2;
}

.inner-skills-container:after {
  background: lightblue center;
  position: absolute;
  content: "";
  width: 100%;
  height: 20vmin;
  transform: skewY(4deg);
  margin-right: auto;
  margin-left: auto;
  margin-top: -10vmin;
  z-index: -1;
}

.skills-heading {
  font-family: 'PlaylistScript';
  font-size: 4em;
  padding: 0 50px;
}

.skills-content {
  font-family: 'Vegur';
  font-size: 1.3em;
}
