.website-container {
  width: 100%;
  overflow-x: hidden;
}

#dot-nav {
  position: fixed;
  right: 34px;
  z-index: 5;
  top: 50%;
  bottom: auto;
  transform: translateY(-50%);
  font-family: 'Vegur';
  /*visibility: hidden;*/
  /*opacity: 0;*/
  transition: visibility 0s, opacity .5s ease;
}

#dot-nav ul {
  list-style: none;
}

#dot-nav.active {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity .5s ease;
}

#dot-nav .dot-container {
  text-align: right;
}

#dot-nav a {
  display: inline-block;
  -webkit-backface-visibility: hidden;
}

#dot-nav a::after {
  clear: both;
  content: "";
  display: table;
}

#dot-nav a span {
  float: right;
  display: inline-block;
  transform: scale(.6);
}

#dot-nav a:focus span, #dot-nav a:hover span {
  transform: scale(.75);
}

#dot-nav a:focus .dot-label, #dot-nav a:hover .dot-label {
  opacity: 1;
}

#dot-nav a.is-selected .dot {
  background-color: #00b7c7;
}

#dot-nav .dot {
  position: relative;
  top: 7px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: rgba(38, 38, 38, 1);
  transition: transform .2s, background-color .5s;
  transform-origin: 50% 50%;
}

#dot-nav .dot-label {
  position: relative;
  top: 3px;
  padding: .4em .5em;
  color: black;
  font-size: 1.1em;
  font-weight: 500;
  text-transform: uppercase;
  opacity: 0;
  transition: transform .2s, opacity .2s;
  transform-origin: 100% 50%;
}

.home-container {
  text-align: center;
  background: url("./images/main-background2.jpg") center;
  background-size: cover;
  height: 100vh;
}

.scroll-wrapper {
  position: relative;
  top: 85%;
  left: 48.2%;
}

#arrow {
  display: block;
}

#arrow-text {
  display: block;
  visibility: hidden;
  color: white;
  font-family: 'Vegur';
  font-size: 15px;
}

#arrow:hover #arrow-text {
  color: blue;
  visibility: visible;
}

.main-overlay {
  background-color: #d6d7db;
  position: relative;
  opacity: 0.7;
  width: 70%;
  height: 50vmin;
  right: -70%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30vmin;
  float: right;
  -webkit-animation: slide 1s forwards;
  -webkit-animation-delay: 0.5s;
  animation: slide 1s forwards;
  animation-delay: 0.5s;
}

.main-overlay:before {
  background: #d6d7db;
  position: relative;
  content: "";
  width: 100%;
  height: 25vmin;
  transform: skewY(-4.5deg);
  margin-right: auto;
  margin-left: auto;
  margin-top: -10vmin;
  float: right;
}

@-webkit-keyframes slide {
  100% {
    right: 0;
  }
}

@keyframes slide {
  100% {
    right: 0;
  }
}

.name {
  font-family: 'Vegur';
  opacity: 0;
  position: relative;
  margin: 0 auto;
  font-size: 5em;
  letter-spacing: 7px;
  z-index: 2;
  animation: reveal-up 0.7s forwards;
  animation-delay: 1.5s;
  -webkit-animation: reveal-up 0.7s forwards;
  -webkit-animation-delay: 1.5s;
}

.desc {
  font-family: 'PlaylistScript';
  opacity: 0;
  position: relative;
  font-size: 2.5em;
  z-index: 2;
  animation: reveal-up 0.7s forwards;
  animation-delay: 2s;
  -webkit-animation: reveal-up 0.7s forwards;
  -webkit-animation-delay: 2s;
}

@keyframes reveal-up {
  0% {
    opacity: 1;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@-webkit-keyframes reveal-up {
  0% {
    opacity: 1;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.about-container {
  background: #d6d7db center;
  font-family: 'Vegur';
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding-bottom: 20vmin;
  position: relative;
  z-index: -2;
}

.about-content {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
}

.about-overlay {
  background: white;
  padding: 2em 0;
  display: inline-block;
  vertical-align: middle;
  width: 40%;
  margin-top: 100px;
  margin-bottom: 50px;
}

.heading {
  font-family: 'PlaylistScript';
  padding: 0.4em;
  font-size: 4em;
  text-align: center;
}

.about-desc {
  font-size: 1.3em;
  margin: 10px 50px 0 50px;
}

.about-text {
  margin: 10px 50px 0 50px;
}

.about-image {
  width: 340px;
  vertical-align: middle;
  height: 70%;
  position: relative;
  display: inline-block;
  z-index: 1;
  /*margin: 0 2em;*/
}

.outer-skills-container {
  background-image: url(./images/code.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 75vh;
  margin: 0 auto;
}

.inner-skills-container {
  background-color: rgba(15, 84, 115, 0.6);
  height: 100%;
  margin: 0 auto;
}


/*.outer-skills-container:before {
  background: "";
  position: absolute;
  content: "";
  width: 100%;
  height: 20vmin;

  margin-right: auto;
  margin-left: auto;
  left: 0;
  margin-top: -10vmin;
  z-index: -2;
}*/


/* .inner-skills-container:before {
  background: lightblue center;
  position: absolute;
  content: "";
  width: 100%;
  height: 20vmin;
  transform: skewY(-4deg);
  margin-right: auto;
  margin-left: auto;
  margin-top: -10vmin;
  z-index: -1;
} */


/*.outer-skills-container:after {
  background: #0f5473;
  position: absolute;
  content: "";
  width: 100%;
  height: 20vmin;
  transform: skewY(-4deg);
  margin-right: auto;
  margin-left: auto;
  left: 0;
  margin-top: 5vmin;
  z-index: -2;
}*/


/* .inner-skills-container:after {
  background: lightblue center;
  position: absolute;
  content: "";
  width: 100%;
  height: 20vmin;
  transform: skewY(4deg);
  margin-right: auto;
  margin-left: auto;
  margin-top: -10vmin;
  z-index: -1;
} */

.skills-heading {
  font-family: 'PlaylistScript';
  font-size: 4em;
  padding: 0.4em;
  color: white;
  text-align: center;
}

.skills-content {
  font-family: 'Vegur';
  font-size: 1.3em;
  display: inline-block;
}

.skills-title {
  color: white;
  margin: 0 50px;
  font-size: 1.3em;
}

.dev-icon {
  width: 45px;
  vertical-align: middle;
  margin: 0 10px;
}

.skills-list {
  list-style: none;
  padding: 0 50px;
}

.dev-skill {
  width: 75px;
  height: 75px;
  color: white;
  display: inline-block;
  margin: 10px;
  transition: all 0.2s ease-in-out;
}

.dev-skill span {
  display: none;
}


/*.dev-skill:hover svg {
  display: none;
}

.dev-skill:hover img {
  display: none;
}

.dev-skill:hover span {
  display: inline-block;
}*/

.github-icon {
  width: 75px;
}

.exp-container {
  font-family: 'Vegur';
  width: 100%;
  height: 100vh;
  margin: 0.4em;
  padding: 10px;
}

.exp-heading {
  font-family: 'PlaylistScript';
  font-size: 4em;
  text-align: center;
}
