.website-container {
  width: 100%;
  overflow-x: hidden;
}

#dot-nav {
  position: fixed;
  right: 20px;
  z-index: 5;
  top: 50%;
  bottom: auto;
  transform: translateY(-50%);
  font-family: 'Vegur';
  /*visibility: hidden;*/
  /*opacity: 0;*/
  transition: visibility 0s, opacity .5s ease;
}

#dot-nav ul {
  list-style: none;
}

#dot-nav.active {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity .5s ease;
}

#dot-nav .dot-container {
  text-align: right;
}

#dot-nav a {
  display: inline-block;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

#dot-nav a::after {
  clear: both;
  content: "";
  display: table;
}

#dot-nav a span {
  float: right;
  /* display: inline-block; */
  transform: scale(.6);
}

#dot-nav a:focus span,
#dot-nav a:hover span {
  transform: scale(.75);
}

#dot-nav a:focus .dot-label,
#dot-nav a:hover .dot-label {
  opacity: 1;
}

/* #dot-nav a:active .dot {
  background-color: #00b7c7;
} */

#dot-nav .dot {
  position: relative;
  top: 7px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: white;
  transition: transform .2s, background-color .5s;
  transform-origin: 50% 50%;
}

#dot-nav .dot-label {
  position: relative;
  top: 3px;
  padding: .4em .5em;
  color: white;
  font-size: 1.1em;
  font-weight: 500;
  text-transform: uppercase;
  opacity: 0;
  transition: transform .2s, opacity .2s;
  transform-origin: 100% 50%;
}

.home-container {
  text-align: center;
  background: url("./images/main-background2.jpg") center;
  background-size: cover;
  height: 100vh;
}

.scroll-wrapper {
  position: relative;
  top: 85%;
  left: 48.2%;
}

#arrow {
  display: block;
}

#arrow-text {
  display: block;
  visibility: hidden;
  color: white;
  font-family: 'Vegur';
  font-size: 15px;
}

#arrow:hover #arrow-text {
  color: blue;
  visibility: visible;
}

.main-overlay {
  background-color: #d6d7db;
  position: relative;
  opacity: 0.7;
  width: 70%;
  height: 50vmin;
  right: -70%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30vmin;
  float: right;
  -webkit-animation: slide 1s forwards;
  -webkit-animation-delay: 0.5s;
  animation: slide 1s forwards;
  animation-delay: 0.5s;
}

.main-overlay:before {
  background: #d6d7db;
  position: relative;
  content: "";
  width: 100%;
  height: 25vmin;
  transform: skewY(-4.5deg);
  margin-right: auto;
  margin-left: auto;
  margin-top: -10vmin;
  float: right;
}

@-webkit-keyframes slide {
  100% {
    right: 0;
  }
}

@keyframes slide {
  100% {
    right: 0;
  }
}

.name {
  font-family: 'Vegur';
  opacity: 0;
  position: relative;
  margin: 0 auto;
  font-size: 5em;
  letter-spacing: 7px;
  z-index: 2;
  animation: reveal-up 0.7s forwards;
  animation-delay: 1.5s;
  -webkit-animation: reveal-up 0.7s forwards;
  -webkit-animation-delay: 1.5s;
}

.desc {
  font-family: 'PlaylistScript';
  opacity: 0;
  position: relative;
  font-size: 2.5em;
  z-index: 2;
  animation: reveal-up 0.7s forwards;
  animation-delay: 2s;
  -webkit-animation: reveal-up 0.7s forwards;
  -webkit-animation-delay: 2s;
}

@keyframes reveal-up {
  0% {
    opacity: 1;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@-webkit-keyframes reveal-up {
  0% {
    opacity: 1;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.about-container {
  background: #d6d7db center;
  font-family: 'Vegur';
  max-width: 100%;
  height: 100%;
  margin: 0 auto;
  padding-bottom: 20vmin;
  position: relative;
  z-index: -2;
}

.about-container:before {
  background: #0f5473 center;
  position: absolute;
  left: 0;
  content: "";
  width: 100%;
  height: 500px;
  transform: skewY(15deg);
  margin-top: -30vmin;
  z-index: -4;
}

.about-container:after {
  background: #002231 center;
  position: absolute;
  left: -150px;
  top: 0;
  content: "";
  width: 350px;
  height: 100%;
  transform: skewX(-30deg);
  z-index: -5;
}

.about-content {
  /* width: 100%; */
  display: flex;
  justify-content: center;
}

.about-overlay {
  background: white;
  padding: 2em 0;
  display: inline-block;
  vertical-align: middle;
  width: 40%;
  margin-top: 100px;
  margin-bottom: 50px;
}

.heading {
  font-family: 'PlaylistScript';
  padding: 0.4em;
  font-size: 4em;
  text-align: center;
  color: white;
}

.about-desc {
  font-size: 1.3em;
  margin: 10px 50px 0 50px;
}

.about-text {
  margin: 10px 50px 0 50px;
  font-family: 'VegurLite';
  line-height: 150%;
}

.about-image {
  width: 340px;
  vertical-align: middle;
  height: 70%;
  position: relative;
  display: inline-block;
  z-index: 1;
  /*margin: 0 2em;*/
}

@media only screen and (max-width: 800px) {
  .about-content {
    display: flex;
    flex-direction: column;
    margin: auto 10vmin;
    align-items: center;
  }
}

@media only screen and (max-width: 800px) {
  .about-overlay {
    order: 2;
    width: 80%;
    margin: 10px;
  }
}

@media only screen and (max-width: 800px) {
  .about-image {
    order: 1;
    width: 300px;
  }
}

@media only screen and (max-width: 800px) {
  .image-wrapper {
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  .about-content {
    margin: auto;
  }
}

@media only screen and (max-width: 500px) {
  .about-overlay {
    padding: 1em;
  }
}

@media only screen and (max-width: 500px) {
  .about-desc {
    margin: 10px 20px 10px 20px;
    font-size: 16px;
  }
}

@media only screen and (max-width: 500px) {
  .about-text {
    margin: 10px 20px 10px 20px;
    font-size: 14px;
  }
}

@media only screen and (max-width: 500px) {
  .about-image {
    order: 1;
    width: 200px;
  }
}

.skills-container {
  background: #0f5473;
  height: 100%;
  padding: 10px;
  /* border: 1.5em solid #002231; */
}

/*.outer-skills-container:before {
  background: "";
  position: absolute;
  content: "";
  width: 100%;
  height: 20vmin;

  margin-right: auto;
  margin-left: auto;
  left: 0;
  margin-top: -10vmin;
  z-index: -2;
}*/

/* .inner-skills-container:before {
  background: lightblue center;
  position: absolute;
  content: "";
  width: 100%;
  height: 20vmin;
  transform: skewY(-4deg);
  margin-right: auto;
  margin-left: auto;
  margin-top: -10vmin;
  z-index: -1;
} */

/*.outer-skills-container:after {
  background: #0f5473;
  position: absolute;
  content: "";
  width: 100%;
  height: 20vmin;
  transform: skewY(-4deg);
  margin-right: auto;
  margin-left: auto;
  left: 0;
  margin-top: 5vmin;
  z-index: -2;
}*/

/* .inner-skills-container:after {
  background: lightblue center;
  position: absolute;
  content: "";
  width: 100%;
  height: 20vmin;
  transform: skewY(4deg);
  margin-right: auto;
  margin-left: auto;
  margin-top: -10vmin;
  z-index: -1;
} */

.skills-heading {
  font-family: 'PlaylistScript';
  font-size: 4em;
  padding: 0.4em;
  color: #d6d7db;
  text-align: center;
}

.skills-content-wrapper {
  position: relative;
  margin: 0 5%;
}

.skills-content {
  font-family: 'Vegur';
  font-size: 1.3em;
  display: inline-block;
  width: 50%;
  vertical-align: top;
}

@media only screen and (max-width: 800px) {
  .skills-content {
    width: 100%;
    display: block;
  }
}

.skills-title {
  color: white;
  margin: 0em 1em;
  padding-bottom: 1em;
  padding-right: 0.6em;
  font-size: 1.3em;
  border-bottom: 2px #d6d7db solid;
}

@media only screen and (max-width: 800px) {
  .skills-title {
    padding-top: 0.5em;
    padding-right: 0.4em;
  }
}

.dev-icon {
  width: 45px;
  vertical-align: middle;
  margin: 0 10px;
}

.skills-list {
  list-style: none;
  padding: 0 1em;
}

@media only screen and (max-width: 800px) {
  .skills-list {
    margin: 0;
    margin-top: 0.5em;
  }
}

.dev-skill {
  width: 75px;
  height: 75px;
  color: white;
  display: inline-block;
  margin: 20px;
  transition: all 0.2s ease-in-out;
  vertical-align: middle;
  text-align: center;
}

.dev-skill span {
  visibility: hidden;
}

.dev-skill:hover span {
  visibility: visible;
  transition: all 0.2s ease-in-out;
}

.github-icon {
  width: 75px;
}

/* Portfolio Section Styling */

#passion .outer-container {
  background-image: url(./images/code.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}

@media only screen and (max-width: 800px) {
  #passion .outer-container {
    height: 100%;
    padding-bottom: 10px;
  }
}

#passion .inner-container {
  background-color: rgba(15, 84, 115, 0.4);
  height: 100%;
  margin: 0 auto;
}

#passion .heading {
  font-family: 'PlaylistScript';
  font-size: 4em;
  text-align: center;
  color: white;
  padding: 0.4em;
}

#passion .content {
  font-family: 'Vegur';
  display: flex;
  flex-direction: row;
  margin: 0 3em;
}

@media only screen and (max-width: 800px) {
  #passion .content {
    flex-direction: column;
  }
}

@media only screen and (max-width: 500px) {
  #passion .content {
    margin: 0 1em;
  }
}

#passion .card {
  background: white;
  color: black;
  opacity: 0.8;
  padding: 1em;
  margin: 1em;
  border-radius: 3px;
  width: 25%;
}

@media only screen and (max-width: 800px) {
  #passion .card {
    width: 90%;
  }
}

/* @media only screen and (max-width: 500px) {
  #passion .card {
    width: 80%;
  }
} */

#passion .title {
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
}

#passion .body {
  font-size: 1.2em;
  margin-top: .5em;
  font-family: 'VegurLite';
  line-height: 150%;
}

#passion .icon {
  width: 30px;
  vertical-align: middle;
  margin-right: 10px;
}

/* Experience Page Styling */

.exp-container {
  font-family: 'Vegur';
  width: 100%;
  background-color: #002231;
}

.exp-heading {
  font-family: 'PlaylistScript';
  font-size: 4em;
  text-align: center;
  color: white;
  padding: 0.4em;
}

#experience-section .experience-description {
  padding: 0 100px;
  font-size: 1.2em;
}
@media only screen and (max-width: 1170px) {
  #experience-section .experience-description {
    padding: 0;
  }
}
#experience-section .experience-description a {
  display: inline-block;
  position: relative;
  font-weight: 500;
  transition: all .3s ease;
}
#experience-section .experience-description a:after {
  content: '';
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 2px;
  border-width: 0 0 .5px;
  border-style: solid;
  border-color: #f2f2f2;
  transition: all .3s ease;
}
#experience-section .experience-wrapper {
  padding-top: 1.4em;
  padding-right: 4em;
  padding-left: 4em;
  padding-bottom: 4em;
}
@media only screen and (max-width: 1000px) {
  #experience-section .experience-wrapper {
    padding-left: 1.4em;
  }
}
@media only screen and (max-width: 600px) {
  #experience-section .experience-wrapper {
    padding: 1.2em;
    width: 90%;
  }
}
#experience-section .experience-wrapper #timeline {
  position: relative;
  padding: 2em 0;
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
#experience-section .experience-wrapper #timeline:before {
  content: '';
  position: absolute;
  top: 0;
  left: calc(50% - 1px);
  height: 100%;
  width: 2px;
  background: rgba(15, 84, 115, 1);
}
@media only screen and (max-width: 1000px) {
  #experience-section .experience-wrapper #timeline:before {
    left: 20px;
    margin-left: 0;
  }
}
@media only screen and (max-width: 480px) {
  #experience-section .experience-wrapper #timeline:before {
    left: 10px;
  }
}
#experience-section .experience-wrapper #timeline:after {
  content: '';
  display: table;
  clear: both;
}
#experience-section .experience-wrapper #timeline .timeline-block {
  position: relative;
  transition: all .3s ease;
  margin: 1em 0;
}
#experience-section .experience-wrapper #timeline .timeline-block:after {
  content: "";
  display: table;
  clear: both;
}
#experience-section .experience-wrapper #timeline .timeline-block:first-child {
  margin-top: 0;
}
#experience-section .experience-wrapper #timeline .timeline-block:last-child {
  margin-bottom: 0;
}
@media only screen and (max-width: 1170px) {
  #experience-section .experience-wrapper #timeline .timeline-block:nth-child(odd) {
    margin-top: 0;
    margin-bottom: 2em;
  }
}
#experience-section .experience-wrapper #timeline .timeline-block:nth-child(odd) .timeline-content {
  float: left;
}
@media only screen and (max-width: 1170px) {
  #experience-section .experience-wrapper #timeline .timeline-block:nth-child(odd) .timeline-content {
    right: 10px;
  }
}
@media only screen and (max-width: 1000px) {
  #experience-section .experience-wrapper #timeline .timeline-block:nth-child(odd) .timeline-content {
    right: auto;
  }
}
#experience-section .experience-wrapper #timeline .timeline-block:nth-child(odd) .timeline-content:before {
  top: 24px;
  left: 100%;
  border-color: transparent;
  border-left-color: #d6d7db;
}
@media only screen and (max-width: 1000px) {
  #experience-section .experience-wrapper #timeline .timeline-block:nth-child(odd) .timeline-content:before {
    top: 16px;
    left: auto;
    border-color: transparent;
    border-right-color: #d6d7db;
  }
}
#experience-section .experience-wrapper #timeline .timeline-block:nth-child(odd) .timeline-content .date {
  left: auto;
  text-align: right;
  right: -33%;
}
#experience-section .experience-wrapper #timeline .timeline-block:nth-child(even) .date {
  text-align: right;
  left: auto;
  right: 55%;
}
@media only screen and (max-width: 1000px) {
  #experience-section .experience-wrapper #timeline .timeline-block:nth-child(even) .date {
    text-align: left;
    font-size: 14px;
    color: #464646;
    position: relative;
    top: -40px;
    left: 95px;
    right: auto;
  }
}
@media only screen and (max-width: 480px) {
  #experience-section .experience-wrapper #timeline .timeline-block:nth-child(even) .date {
    left: 66px;
  }
}
#experience-section .experience-wrapper #timeline .timeline-block .timeline-img {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 15px;
  left: 50%;
  margin-left: -25px;
  border-radius: 50%;
  background: #464646;
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: all .3s ease;
}
@media only screen and (max-width: 1000px) {
  #experience-section .experience-wrapper #timeline .timeline-block .timeline-img {
    top: 5px;
    left: 20px;
  }
}
@media only screen and (max-width: 480px) {
  #experience-section .experience-wrapper #timeline .timeline-block .timeline-img {
    width: 40px;
    height: 40px;
    top: 10px;
    left: 15px;
  }
}
#experience-section .experience-wrapper #timeline .timeline-block .timeline-img .sprite {
  display: block;
  width: 24px;
  height: 24px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -12px;
  background-repeat: no-repeat;
  background-size: 100%;
}
@media only screen and (max-width: 480px) {
  #experience-section .experience-wrapper #timeline .timeline-block .timeline-img .sprite {
    width: 20px;
    height: 20px;
    margin-left: -10px;
    margin-top: -10px;
  }
}
#experience-section .experience-wrapper #timeline .timeline-block .timeline-img .sprite.university {
  background-image: url(./images/icons/graduate-cap.svg);
}
#experience-section .experience-wrapper #timeline .timeline-block .timeline-img .sprite.ta {
  background-image: url(./images/icons/notebook.svg);
}
#experience-section .experience-wrapper #timeline .timeline-block .timeline-img .sprite.industry {
  background-image: url(./images/icons/briefcase.svg);
}
/* #experience-section .experience-wrapper #timeline .timeline-block .timeline-img .sprite.academic {
  background-image: url(./images/graduate-cap.svg);
} */
#experience-section .experience-wrapper #timeline .timeline-block .timeline-content {
  float: right;
  position: relative;
  background: #d6d7db;
  border-radius: 3px;
  margin-left: 0;
  padding: 1em;
  width: 40%;
  opacity: .85;
  transition: all .3s ease;
}
@media only screen and (max-width: 1170px) {
  #experience-section .experience-wrapper #timeline .timeline-block .timeline-content {
    left: 0;
    padding-bottom: 2.5em;
  }
}
@media only screen and (max-width: 1000px) {
  #experience-section .experience-wrapper #timeline .timeline-block .timeline-content {
    margin-left: 70px;
    right: auto;
    width: auto;
  }
}
@media only screen and (max-width: 480px) {
  #experience-section .experience-wrapper #timeline .timeline-block .timeline-content {
    margin-left: 50px;
    padding: 1.5em 1em 2.5em;
  }
}
#experience-section .experience-wrapper #timeline .timeline-block .timeline-content:focus,
#experience-section .experience-wrapper #timeline .timeline-block .timeline-content:hover {
  opacity: 1;
}
#experience-section .experience-wrapper #timeline .timeline-block .timeline-content:focus
  + .timeline-img,
#experience-section .experience-wrapper #timeline .timeline-block .timeline-content:hover
  + .timeline-img {
  background: #0f5473;
}
#experience-section .experience-wrapper #timeline .timeline-block .timeline-content:before {
  content: '';
  position: absolute;
  top: 24px;
  right: 100%;
  height: 0;
  width: 0;
  border: 15px solid transparent;
  border-color: transparent;
  border-right-color: #d6d7db;
}
@media only screen and (max-width: 1000px) {
  #experience-section .experience-wrapper #timeline .timeline-block .timeline-content:before {
    top: 16px;
    right: 100%;
    left: auto;
    border: 15px solid transparent;
    border-right: 15px solid #d6d7db;
  }
}
#experience-section .experience-wrapper #timeline .timeline-block .timeline-content:after {
  content: "";
  display: table;
  clear: both;
}
#experience-section .experience-wrapper #timeline .timeline-block .timeline-content .position {
  color: black;
  margin: 5px 0 10px;
  font-size: 20px;
  display: inline-block;
  text-transform: uppercase;
  font-family: 'Vegur';
  font-weight: bold;
}
#experience-section .experience-wrapper #timeline .timeline-block .timeline-content .company {
  margin: 0 0 10px 0;
  font-size: 15px;
  font-weight: 500;
}
#experience-section .experience-wrapper #timeline .timeline-block .timeline-content .company a {
  color: #0f5473;
  display: inline;
  transition: all .3s ease;
}
#experience-section .experience-wrapper #timeline .timeline-block .timeline-content .company a:focus,
#experience-section .experience-wrapper #timeline .timeline-block .timeline-content .company a:hover {
  color: #146d96;
}
#experience-section .experience-wrapper #timeline .timeline-block .timeline-content .job-desc {
  margin: 1em 0;
  font-size: 1em;
  line-height: 1.5;
}
@media only screen and (max-width: 480px) {
  #experience-section .experience-wrapper #timeline .timeline-block .timeline-content .job-desc {
    font-size: 1em;
    line-height: 1.5;
  }
}
#experience-section .experience-wrapper #timeline .timeline-block .date {
  font-size: 1em;
  font-weight: 500;
  display: inline-block;
  color: #f2f2f2;
  font-family: 'Vegur';
  text-transform: uppercase;
  position: absolute;
  width: 100%;
  left: 55%;
  top: 30px;
}
@media only screen and (max-width: 1000px) {
  #experience-section .experience-wrapper #timeline .timeline-block .date {
    font-size: 14px;
    color: #464646;
    position: absolute;
    top: auto;
    bottom: 20px;
    left: 95px;
  }
}
@media only screen and (max-width: 480px) {
  #experience-section .experience-wrapper #timeline .timeline-block .date {
    left: 66px;
  }
}
#experience-section .down-arrow {
  display: block;
  margin: 0 auto;
  border-color: transparent;
  border-top-color: rgba(15, 84, 115, 1);
  border-style: solid;
  border-width: 15px 7px 0;
  width: 0;
  height: 0;
  position: relative;
  line-height: 0;
}
@media only screen and (max-width: 1000px) {
  #experience-section .down-arrow {
    margin-left: 13.5px;
  }
}
@media only screen and (max-width: 480px) {
  #experience-section .down-arrow {
    margin-left: 3.5px;
  }
}

.block-btn {
  display: block;
  width: 100%;
  min-height: 100px;
  overflow: hidden;
  color: #f2f2f2;
  position: relative;
  background: #0f5473;
  font-family: 'Vegur';
  font-size: 1em;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  overflow: hidden;
  transition: background-color .5s linear;
}
.block-btn:focus,
.block-btn:hover {
  background: #464646;
  transition: all .3s ease;
}
.block-btn:focus .text,
.block-btn:hover .text {
  opacity: 0;
  visibility: hidden;
  transform: translate3D(0, 4em, 0) scale(.25);
}
.block-btn:focus .icon,
.block-btn:hover .icon {
  opacity: 1;
  visibility: visible;
  transform: translate3D(0, 0, 0) scale(1);
}
.block-btn .icon,
.block-btn .text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
}
.block-btn .text {
  margin: 40px auto;
  opacity: 1;
  visibility: visible;
  transition: transform .4s cubic-bezier(.425, -.195, .005, 1.215),
    opacity .13333s linear;
  transform: scale(1);
}
.block-btn .icon {
  width: 50px;
  margin: 25px auto;
  opacity: 0;
  visibility: hidden;
  transition: transform .4s cubic-bezier(.425, -.195, .005, 1.215),
    opacity .4s linear;
  transform: translate3D(0, -4em, 0) scale(0);
}

/* Nav Bar for Small Screen CSS */

#toggle {
  position: fixed;
  top: 25px;
  right: 25px;
  height: 27px;
  width: 30px;
  cursor: pointer;
  z-index: 100;
  display: none;
  transition: opacity .25s ease;
}
@media only screen and (max-width: 768px) {
  #toggle {
    display: block;
  }
}
#toggle:focus,
#toggle:hover {
  opacity: .7;
}
#toggle:active .line {
  background: #f2f2f2;
}
#toggle:active .top {
  transform: translateY(10px) translateX(0) rotate(45deg);
}
#toggle:active .middle {
  opacity: 0;
}
#toggle:active .bottom {
  transform: translateY(-10px) translateX(0) rotate(-45deg);
}
#toggle .line {
  background: #f2f2f2;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  width: 100%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
  transition: all .35s ease;
}
#toggle .line.middle {
  top: 10px;
}
#toggle .line.bottom {
  top: 20px;
}
.overlay {
  position: fixed;
  background: rgba(0, 183, 199, .95);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  z-index: 10;
  transition: all .3s ease;
}
@media only screen and (max-width: 768px) {
  .overlay.open {
    height: 100%;
    z-index: 10;
    opacity: 1;
    visibility: visible;
    overflow: hidden;
  }
  .overlay.open .menu-item {
    animation: fadeInTop .5s ease forwards;
    animation-delay: .35s;
  }
  .overlay.open .menu-item:nth-of-type(2) {
    animation-delay: .4s;
  }
  .overlay.open .menu-item:nth-of-type(3) {
    animation-delay: .45s;
  }
  .overlay.open .menu-item:nth-of-type(4) {
    animation-delay: .5s;
  }
  .overlay.open .menu-item:nth-of-type(5) {
    animation-delay: .55s;
  }
  .overlay.open .menu-item:nth-of-type(6) {
    animation-delay: .6s;
  }
  .overlay.open .menu-item:nth-of-type(7) {
    animation-delay: .65s;
  }
}
.overlay .logo {
  color: #f2f2f2;
  font-family: 'Vegur';
  font-size: 30px;
  margin: 14px 20px;
}
@media only screen and (max-width: 400px) {
  .overlay .logo {
    font-size: 24px;
    margin: 17px 20px;
  }
}
.overlay .logo .logo-img {
  width: 35px;
  margin-right: 10px;
  position: relative;
  top: 5px;
}
@media only screen and (max-width: 400px) {
  .overlay .logo .logo-img {
    width: 30px;
    top: 5px;
  }
}
.overlay .overlay-menu {
  position: relative;
  height: 70%;
  transform: translateY(-50%);
  top: 45%;
  font-size: 1.5em;
  font-family: 'Vegur';
  font-weight: 700;
  text-align: center;
}
.overlay .overlay-menu .menu-container {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
}
.overlay .overlay-menu .menu-container .menu-item {
  display: block;
  height: 14.25%;
  height: calc(100% / 7);
  min-height: 50px;
  position: relative;
  opacity: 0;
}
.overlay .overlay-menu .menu-container .menu-item a {
  position: relative;
  color: #f2f2f2;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
}
.overlay .overlay-menu .menu-container .menu-item a:after,
.overlay .overlay-menu .menu-container .menu-item a:before {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  top: 50%;
  background: #f2f2f2;
  margin-top: -2px;
  left: -3px;
}
.overlay .overlay-menu .menu-container .menu-item a:after {
  transition: width .7s cubic-bezier(.22, .61, .36, 1);
}
.overlay .overlay-menu .menu-container .menu-item a:focus:after,
.overlay .overlay-menu .menu-container .menu-item a:focus:before,
.overlay .overlay-menu .menu-container .menu-item a:hover:after,
.overlay .overlay-menu .menu-container .menu-item a:hover:before {
  width: 105%;
}
.overlay .overlay-menu .menu-container .menu-item a:focus:before,
.overlay .overlay-menu .menu-container .menu-item a:hover:before {
  transition: width .5s cubic-bezier(.22, .61, .36, 1);
}
.overlay .overlay-menu .menu-container .menu-item a:focus:after,
.overlay .overlay-menu .menu-container .menu-item a:hover:after {
  background: 0 0;
  transition: 0s;
}
@keyframes fadeInTop {
  0% {
    opacity: 0;
    bottom: 20%;
  }
  100% {
    opacity: 1;
    bottom: 0;
  }
}
